:root {
    --main-dark-color:rgba(8,92,41,1);
    --main-light-color: rgba(97,157,120,1)
}
* {
    padding: 0;
    margin: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

html {
    font-size: 10px;
}


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: radial-gradient(circle, var(--main-light-color) 0%, rgba(46,136,82,1) 50%, var(--main-dark-color) 100%);
    padding: 2rem;

}

/* Players */

.players {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-light-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: white;
    font-weight: bold;
    fill: white;
    gap: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

.player__marker {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.player__svg {
    width: 3rem;
}

.player__score {
    font-size: 4rem;
}

/* Cells */

.cells {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cells__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cell {
    width: 10rem;
    height: 10rem;
    background-color: white;
    opacity: 0.5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

/* Buttons */

.buttons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--main-dark-color);
    color: white;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
}